:host {
  .video-cropper-wrapper {
    display: flex;
    flex-direction: column;
    width: 1082px;
    height: 668px;
    margin-inline: auto;
    margin-top: 60px;
    padding: 20px;
    position: relative;

    border-radius: 10px;
    border: 1px solid rgba(55, 57, 63, 1);
    background-color: rgba(55, 57, 63, 1);
  }

  .cropper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .cropper-title {
      position: absolute;
      left: 0;
    }

    .switcher-wrapper {
      justify-content: center;
    }
  }

  .cropper-footer {
    position: absolute;
    bottom: 0;
    margin-top: auto;
    height: 80px;
    width: 100%;
    border-top: 1px solid rgba(73, 76, 85, 1);

    margin-left: -20px;

    // background: rgba(73, 76, 85, 1);

    .footer-container {
      margin-top: 20px;
      padding-inline: 20px;
      display: flex;
      justify-content: space-between;
    }

    .action-buttons {
      display: flex;
      gap: 8px;
    }
  }

  .video-cropper {
    display: flex;
    margin-top: 10px;
  }

  .video-cropper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 50%;
    transition: all 1s ease-in-out;

    &.preview-session {
      visibility: hidden;
      transform: translate(-100%);
      transition: all 1s ease-in-out;
    }
  }

  .preview-wrapper {
    flex: 50%;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in-out;

    &.preview-session {
      transition: all 1s ease-in-out;
      transform: translate(-50%);
    }

    .preview-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .preview-not-available {
      display: flex;
      flex-direction: column;
      width: 178px;
      flex-wrap: wrap;
      gap: 8px;
      align-items: center;

      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      text-align: center;

      .description {
        opacity: 0.5;
      }
    }
  }

  .video-container {
    position: relative;
    // flex-direction: column;
    // align-items: center;
    // width: 500px;
    // height: 400px;
  }

  .video {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .cropper-canvas {
    border: 1px solid #000;
    cursor: grab;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .preview-container {
    // width: 500px;
    // height: 400px;
  }

  .controls {
    display: flex;
    gap: 10px;
  }

  .custom-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;

    > div {
      display: flex;
      gap: 10px;
      align-items: center;
      width: 100%;
    }

    .time-sound-control {
      justify-content: space-between;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;

      .timer {
        display: flex;
        gap: 5px;
      }
    }

    .sound-control {
      display: flex;
      gap: 10px;

      > input {
        width: 45px;
      }
    }

    .crop-speed-options {
      display: flex;
      gap: 10px;
    }
  }

  .custom-controls button {
    padding: 5px 10px;
    cursor: pointer;
  }

  .seek-bar {
    flex-grow: 1;
    cursor: pointer;
  }

  .preview-container {
    // margin-top: 20px;
    text-align: center;
  }

  .preview-container h3 {
    margin-bottom: 10px;
  }

  .preview-container canvas {
    border: 1px solid #000;
  }
}

.upload-container {
  text-align: center;
  width: 300px;
  margin: auto;
  cursor: pointer;
}

input[type="file"] {
  display: block;
  margin: auto;
}
